* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 15px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  max-width: 19rem;
}
